          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/genla/snippet/<%= '50' %>" class="btn btn-success btn-lg btn-block">                                    
                <h2 class="text-light"> LICUADOS              ____bebidas_____50be </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/genla/snippet/<%= '51' %>" class="btn btn-success btn-lg btn-block">                                    
                <h2 class="text-light"> CERVEZAS              ____bebidas_____51be </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/genla/snippet/<%= '53' %>" class="btn btn-success btn-lg btn-block">                                    
                <h2 class="text-light"> BEBIDAS SIN ALCOHOL   ____bebidas_____53be </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/genla/snippet/<%= '55' %>" class="btn btn-success btn-lg btn-block">                                    
                <h2 class="text-light"> MOSCATO               ____bebidas_____55be </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/genla/snippet/<%= '57' %>" class="btn btn-success btn-lg btn-block">                                    
                <h2 class="text-light"> VINO DE LA CASA       ____bebidas_____57be </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/genla/snippet/<%= '59' %>" class="btn btn-success btn-lg btn-block">                                    
                <h2 class="text-light"> VINOS FINOS           ____bebidas_____59be </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/genla/snippet/<%= '61' %>" class="btn btn-success btn-lg btn-block">                                    
                <h2 class="text-light"> SIDRAS Y CHAMPAGNES   ____bebidas_____61be </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/genla/snippet/<%= '63' %>" class="btn btn-success btn-lg btn-block">                                    
                <h2 class="text-light"> WHISKY LICORES Y COG  ____bebidas_____63be </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/genla/snippet/<%= '64' %>" class="btn btn-success btn-lg btn-block">                                    
                <h2 class="text-light"> APERITIVOS            ____bebidas_____64be </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/genla/snippet/<%= '65' %>" class="btn btn-success btn-lg btn-block">                                    
                <h2 class="text-light"> TRAGOS                ____bebidas_____65be </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
