          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/genla/snippet/<%= '1' %>" class="btn btn-warning btn-lg btn-block">                                     
                <h2 class="text-light"> PIZZAS                ____comidas_____01co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/genla/snippet/<%= '2' %>" class="btn btn-warning btn-lg btn-block">                                     
                <h2 class="text-light"> PIZZAS ESPECIALES GE  ____comidas_____02co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/genla/snippet/<%= '3' %>" class="btn btn-warning btn-lg btn-block">                                     
                <h2 class="text-light"> ESPECIALES DE LA CAS  ____comidas_____03co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/genla/snippet/<%= '4' %>" class="btn btn-warning btn-lg btn-block">                                     
                <h2 class="text-light"> ESPECIALIDADES CON Q  ____comidas_____04co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/genla/snippet/<%= '5' %>" class="btn btn-warning btn-lg btn-block">                                     
                <h2 class="text-light"> ESPECIALIDADES CON T  ____comidas_____05co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/genla/snippet/<%= '7' %>" class="btn btn-warning btn-lg btn-block">                                     
                <h2 class="text-light"> ESPECIALES FRUTALES   ____comidas_____07co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/genla/snippet/<%= '9' %>" class="btn btn-warning btn-lg btn-block">                                     
                <h2 class="text-light"> PIZZAS MODERNAS       ____comidas_____09co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/genla/snippet/<%= '11' %>" class="btn btn-warning btn-lg btn-block">                                    
                <h2 class="text-light"> EMPANADAS FRTIAS/AL   ____comidas_____11co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/genla/snippet/<%= '13' %>" class="btn btn-warning btn-lg btn-block">                                    
                <h2 class="text-light"> ENSALADAS             ____comidas_____13co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/genla/snippet/<%= '15' %>" class="btn btn-warning btn-lg btn-block">                                    
                <h2 class="text-light"> TORTILLAS             ____comidas_____15co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/genla/snippet/<%= '17' %>" class="btn btn-warning btn-lg btn-block">                                    
                <h2 class="text-light"> SANDWICHES FRANCES/A  ____comidas_____17co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/genla/snippet/<%= '19' %>" class="btn btn-warning btn-lg btn-block">                                    
                <h2 class="text-light"> MILANESAS TERNERA/PO  ____comidas_____19co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/genla/snippet/<%= '21' %>" class="btn btn-warning btn-lg btn-block">                                    
                <h2 class="text-light"> SANDWICHES CALIENTES  ____comidas_____21co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/genla/snippet/<%= '23' %>" class="btn btn-warning btn-lg btn-block">                                    
                <h2 class="text-light"> SUPREMAS              ____comidas_____23co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/genla/snippet/<%= '25' %>" class="btn btn-warning btn-lg btn-block">                                    
                <h2 class="text-light"> AVES                  ____comidas_____25co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/genla/snippet/<%= '27' %>" class="btn btn-warning btn-lg btn-block">                                    
                <h2 class="text-light"> CARNES                ____comidas_____27co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/genla/snippet/<%= '29' %>" class="btn btn-warning btn-lg btn-block">                                    
                <h2 class="text-light"> ESCALOPES             ____comidas_____29co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/genla/snippet/<%= '31' %>" class="btn btn-warning btn-lg btn-block">                                    
                <h2 class="text-light"> RECOMENDADOS DEL CHE  ____comidas_____31co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/genla/snippet/<%= '33' %>" class="btn btn-warning btn-lg btn-block">                                    
                <h2 class="text-light"> PESCADOS              ____comidas_____33co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/genla/snippet/<%= '35' %>" class="btn btn-warning btn-lg btn-block">                                    
                <h2 class="text-light"> NUESTRAS PIZZANESAS   ____comidas_____35co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/genla/snippet/<%= '37' %>" class="btn btn-warning btn-lg btn-block">                                    
                <h2 class="text-light"> PASTAS RELLENAS/AL H  ____comidas_____37co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/genla/snippet/<%= '39' %>" class="btn btn-warning btn-lg btn-block">                                    
                <h2 class="text-light"> ESQUISITAS SALSAS     ____comidas_____39co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/genla/snippet/<%= '41' %>" class="btn btn-warning btn-lg btn-block">                                    
                <h2 class="text-light"> CREPES                ____comidas_____41co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
